<nav class="fs-5 text-center  py-4 bg-dark ">
    <a class="me-5 text-decoration-none text-white" href="/">Home</a>
    <a class="me-5 text-decoration-none text-white" href="/library">Library</a>
    <a class="me-5 text-decoration-none text-white" href="/about">About</a>
</nav>