<%- include("partials/header")%>
  <%- include("partials/nav")%>
    <!--  -->

    <div class="rounded p-5 mt-5 text-center container bg-dark text-white">
      <h1 class="fs-1 fw-bolder">Welcome to Book Store</h1>
      <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam molestias <br> deleniti
        placeat quo
        deserunt,
        neque ducimus. Harum quo consequuntur <br> dolor eligendi, iusto ipsam praesentium ex repellat perspiciatis,
      </p>
      <button class=" mt-3 btn btn-light">Explore More</button>
    </div>

    <!--  -->
    <%- include("partials/footer")%>